* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(6, 18, 30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #ff1493;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1.2s ease-in-out;
    transform: translateY(-20px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

select, input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #ff1493;
}

button {
    width: 100%;
    padding: 15px;
    background-color: rgb(6, 18, 30);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff1493;
    transform: translateY(-3px);
}

.select-container {
    position: relative;
}

.select-container select {
    padding-right: 40px;
}

.select-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.hidden {
    display: none;
}

#trocoValorSection {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
    }
}
